<div class="container-fluid" style="background-image: url('assets/liblack.jpg');height:500px;">
    <div class="overlay"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center text-white mb-4">Welcome to the Library Management System</h1>
  
<!-- Login/Register Section -->
<section class="login-register text-center">
  <br>
  <h4 class="text-white text-center">Please log in to access our services or register if you are a new user.</h4>
  <!-- Login/Register forms or links -->
<br>
  <button class="btn btn-primary btn-lg mb-3" routerLink="/login">Login</button>

  
</section>
    
      
</div>
        
    